# 課題（ilect上で提出してください）

## Pandasを使ったデータ加工処理

以下のサイトにあるデータ（ワインの品質）が分析対象になります。

http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

このデータを読み込み、カラムのtotal sulfur dioxideについて分位点で5つに分割し、それぞれのグループについてpHの平均値を算出してください。さらに、この5つのグループのそれぞれのpHの平均値の中で、1番小さい平均値と1番大きな平均値を足して、その合計値を返り値とするような関数を作成してください。

提出するときは、以下の点に注意してください。  
>- 以下の関数homeworkの!!WRITE ME!!に処理を書いてください。(**「!!WRITE ME!!」は消して、記入してください。**)
>- 実際の提出は記述されたhomework関数全てになり、**提出場所はilect上にあるHomeworkからSaveしてください。Solutionに関数を貼り付けます。**   
>- 返り値が数値型(1つ)になるようにしてください。
>- 関数は1つにまとめてください。

In [1]:
# common
import numpy as np
import pandas as pd
from pandas import DataFrame

# URL
url_winequality_data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [4]:
df = pd.read_csv(url_winequality_data, sep=";")
df.head()
# df.info()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [32]:
group_name = ["1st", "2nd", "3rd", "4th", "5th"]

df.groupby("pH")["total sulfur dioxide"]
# pd.qcut(df["total sulfur dioxide"], 5)
# pd.value_counts(pd.qcut(df["total sulfur dioxide"], 5))
df["key"] = pd.qcut(df["total sulfur dioxide"], 5, labels=group_name)
# pd.value_counts(pd.qcut(df["total sulfur dioxide"], 5, labels=group_name))
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,key
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,3rd
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,4th
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,4th
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,4th
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,3rd

In [33]:
df.groupby("key")["pH"].mean()

key
1st    3.298636
2nd    3.301961
3rd    3.338270
4th    3.323645
5th    3.293260
Name: pH, dtype: float64

In [36]:
df.groupby("key")["pH"].mean().max()

3.338270440251573

In [38]:
sum_of_max_min = df.groupby("key")["pH"].mean().max() +df.groupby("key")["pH"].mean().min()
print(sum_of_max_min)

6.631530628339346

In [ ]:
# working place. everything 
def homework(url_winequality_data):
    !!WRITE ME!!
    return my_result