In [1]:
import pandas as pd

In [2]:
toy_data = pd.DataFrame([[1,4,5,6,7,14],[2,5,7,8,15,29],[3,5,7,12,15,19],[21,24,26,13,30,40]],
                        index = ["i1", "i2", "i3", "i4"],
                        columns = list("abcdef"))
toy_data

     a   b   c   d   e   f
i1   1   4   5   6   7  14
i2   2   5   7   8  15  29
i3   3   5   7  12  15  19
i4  21  24  26  13  30  40

In [3]:
toy_data[toy_data["f"] < 20]

    a  b  c   d   e   f
i1  1  4  5   6   7  14
i3  3  5  7  12  15  19

In [4]:
toy_data[toy_data["f"] >= 20]

     a   b   c   d   e   f
i2   2   5   7   8  15  29
i4  21  24  26  13  30  40

In [7]:
pd.DataFrame(toy_data[toy_data["f"] >= 20])

     a   b   c   d   e   f
i2   2   5   7   8  15  29
i4  21  24  26  13  30  40

In [8]:
pd.DataFrame(toy_data[toy_data["f"] >= 20]["d"])

     d
i2   8
i4  13